* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
    background: dodgerblue;
    height: 100%;
    min-height: 100vh;
    color: white;
}

.home {
    padding: 30px;

    > div:first-child {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;

        button {
            width: 70px;
            border: none;
            border-radius: 8px;
            background-color: blue;
            padding: 8px;
            color: white;
            box-shadow: .5px .5px 2px tomato;
            cursor: pointer;
            transition: all .5s;

            &:active {
                transform: scale(.6);
            }
        }
    }

    h2 {
        text-align: center;
    }

    .input {
        width: 100%;
        margin-top: 40px;
        position: relative;
        
        input {
            width: 100%;
            padding: 20px 30px;
            outline: none;
            border-radius: 50px;
            border: none;
            font-size: 20px;
            box-shadow: inset 0 0 5px black;

            &:focus {
                box-shadow: 0px 0px 10px 1000px rgba(0, 0, 0, .7);
            }
        }

        button {
            padding: 15px;
            border-radius: 50%;
            border: none;
            background-color: dodgerblue;
            position: absolute;
            right: -10px;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            cursor: pointer;
            box-shadow: 0 0 5px black;
            transition: all .5s;

            &:active {
                transform: translate(-50%, -50%) scale(.5);
            }
        }
    }

    .parent-todo {

        form {
            display: flex;
            justify-content: center;
            align-items: center;

            input {
                width: 300px;
                padding: 20px;
                border: none;
                margin: 10px;
                outline: none;
                border-radius: 20px;
                box-shadow: inset 0 0 5px tomato;
            }

            button {
                border: none;
                padding: 15px;
                border-radius: 10px;
                background-color: orange;
                color: white;
                box-shadow: 0 0 5px tomato;
                cursor: pointer;
            }
        }
    }

    .todo-container {
        background-color: tomato;
        margin: 10px;
        padding: 20px;

        > span {
            margin-left: 10px;
            font-size: 12px;
        }
    }

    .todos {
        display: flex;
        justify-content: space-between;

        p {
            font-size: 20px;

            &.line {
                text-decoration: line-through blue;
            }
        }

        > div {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}

.signup {
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 5rem 7rem;
    border-radius: 10px;

    > div {
        margin: 20px 0;
        display: flex;
        flex-direction: column;

        label {
            margin: 3px 5px;
        }

        input {
            width: 200px;
            border-radius: 5px;
            border: none;
            outline: none;
            padding: 6px;
        }
    }

    h3 {
        text-align: center;
        font-size: 26px;
    }

    button {
        position: absolute;
        margin-top: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        border: none;
        background-color: dodgerblue;
        color: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 2px rgba(0, 0, 0, .7);
        cursor: pointer;
        transition: all .5s;

        &:active {
            transform: translateX(-50%) scale(.7);
        }
    }
}